.photo-grid {
  display: grid;
  grid-template-columns: 1fr;
  padding-top: 64px;
  padding-left: 16px;
  padding-right: 16px;
  gap: 12px;
}

@media screen and (min-width: 768px) {
  .photo-grid {
    grid-template-columns: 1fr 1fr;
    padding-top: 88px;
    padding-left: 24px;
    padding-right: 24px;
  }
}

@media screen and (min-width: 1024px) {
  .photo-grid {
    grid-template-columns: 1fr 1fr 1fr;
    padding-left: 48px;
    padding-right: 48px;
    gap: 14px;
  }
}

@media screen and (min-width: 1280px) {
  .photo-grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding-top: 92px;
    gap: 16px;
  }
}
