.footer__link {
  color: #FFFFFF;
  text-decoration: none;

}

.footer__link:hover {
  opacity: .8;
  transition: opacity .5s;
}

@media screen and (min-width: 768px) {

  .footer__link {
    padding-right: 18px;
  }
}
