.intro {
  font-family: 'Inter', 'Arial', sans-serif;
  text-align: left;
  padding: 0 16px;
}

@media screen and (min-width: 768px) {

  .intro {
    padding-left: 24px;
    padding-right: 24px;
  }
}

@media screen and (min-width: 1024px) {

  .intro {
    padding-left: 48px;
    padding-right: 48px;
  }
}

@media screen and (min-width: 1280px) {

  .intro {
    padding-left: 148px;
    padding-right: 148px;
  }
}
