.cover {
  text-align: center;
  background-image: url(../../images/cover-trains.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  box-sizing: border-box;
  /* aspect-ratio: 8 / 5; */
}

@media screen and (min-width: 1280px) {

  .cover {
    margin: auto;
    max-width: calc(100% - 96px);
  }
 }
